<brick-layout id="index">
    <div>
        <brick-appbar>
           <h1>BibleFox</h1>
           <button id="btn-text-selector" class="fa fa-navicon fa-lg"></button>
        </brick-appbar>
    </div>
    <brick-deck flex loop transition-type="slide-down">
        <brick-card id="main" selected>
            <span id="spinner">
                <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
            </span>
        </brick-card>
        <brick-card id="text-selector"></brick-card>
    </brick-deck>
</brick-layout>
